{% extends 'base.html' %}

{% block header %}
  <h2 class="text-slate-700 my-2">{% block title %}Ingrese sus credenciales{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" action="{{ url_for('auth.login')}}" class="px-4">
    <label for="username">Usuario</label>
    <input type="text" name="username" id="username" class="rounded-md mb-2" required>
    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" class="rounded-md mb-6" required>
    <!--<input type="submit" value="Inicie Sesión" class="w-full bg-indigo-500 text-white rounded-md py-2 cursor-pointer">-->
    <input type="submit" value="Inicie Sesión" class="w-full bg-inline-block p-6 bg-gradient-to-r from-green-400 to-blue-400 text-white rounded-md py-2 cursor-pointer">
  </form>
   
{% endblock %}
