{% extends 'base.html' %}

{% block header %}
  <h2 class="text-slate-700 my-2">{% block title %}Nuevo Mensaje{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" action="{{url_for('inbox.send')}}" class="px-4">
    <label for="to">Para</label>
    <input type="text" name="to" id="to" class="rounded-md mb-2" required>
    <label for="subject">Asunto</label>
    <input type="text" name="subject" id="subject" class="rounded-md mb-2" required>
    <label for="body">Mensaje</label>
    <textarea name="body" id="body" rows="3" class="rounded-md mb-6" required ></textarea>
    <input type="submit" value="Enviar" class="w-full bg-inline-block p-6 bg-gradient-to-r from-green-400 to-blue-400 text-white rounded-md py-2 cursor-pointer">
  </form>
{% endblock %}