<!doctype html>
<html class="bg-slate-200"> <!--.bg-slate-900..-->
  <head>
    <title>{% block title %}{% endblock %} - EQ2 Mail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="max-w-lg mx-auto rounded-md">
    <nav class="rounded-t-md prose">
      <h1 class="m-0 ml-1">EQ2 Mail</h1>
      <ul class="m-0">
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
          <li><a href="{{ url_for('auth.logout') }}">Salir</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Registro</a>
          <li><a href="{{ url_for('auth.login') }}">Iniciar Sesión</a>
          <li><a href="{{ url_for('auth.forgot') }}">¿Olvidó su contraseña?</a>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header class="mb-2 flex justify-between">
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <!--<div class="flash rounded-md bg-indigo-300 border-indigo-600 text-indigo-800">{{ message }}</div>-->
        <div class="flash rounded-md bg-gradient-to-r from-green-400 to-blue-400 border-blue-400 text-white">{{ message }}</div>
        
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>